{% extends "base.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="../../styles/Append.css">
{% endblock %}
{% block content %}
	{% if auth.check %}
		<div class="form-block">

			<form action="{{ usr.append }}" method="post" autocomplete="off">
				<h3>Append product</h3>
				<div class="form-group">
					<label for="Catalog">
						Каталог
					</label><br/>
					<select name="Catalog" id="Catalog" class="form-control">
						{% for cat in catalog_buff %}
							<option value="{{ cat.id }}">{{ cat.Name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="Name">
						Название
					</label><br/>
					<input type="text" name="Name" id="Name" class="form-control">
				</div>
				<div class="form-group">
					<label for="Count">
						Количество
					</label><br/>
					<input type="text" name="Count" id="Count" class="form-control">
				</div>
				<div class="form-group">
					<label for="Price">
						Цена
					</label><br/>
					<input type="text" name="Price" id="Price" class="form-control">
				</div>
				<div class="form-group">
					<label for="Image">
						Картинка
					</label><br/>
					<input style="color:yellow;" type="file" name="Image" id="Image" class="form-control">
				</div>
				<div class="form-group">
					<label for="Description">
						Описание
					</label><br/>
					<textarea style="resize:none;" name="Description" id="Description" class="form-control" cols="35" rows="10"></textarea>
				</div>
				<div class="form-group">
					<label for="Discount">
						Скидка
					</label><br/>
					<input type="text" name="Discount" id="Discount" placeholder="0% - 100%" class="form-control">
				</div><br/>
				<button type="submit" class="btn">Append</button>

				{{ csrf.field | raw }}

			</form>
		{% else %}
			<center>
				<span style="color:yellow; font-size:30px;" class="cart-attention">
					Добавлять товары могут только авторизованные пользователи!
				</span>
			</center>
		{% endif %}
	{% endblock %}
