<!DOCTYPE html>
<html>

	<head>
		{% block head %}
			<title>
				{% block title %}{% endblock %}
			</title>
			<link rel="stylesheet" href="../../styles/style.css">
		{% endblock %}
	</head>

	<body>
		<header class="header-container clearfix">
			<div class="logo"></div>
		</header>
		<main class="main-container">
			<div class="main-container-header">
				<img src="../../images/store.svg">
				<span>IlyasStore &#9679
					{{title}}</span>
			</div>
			<div class="main-container-navigation">
				<ul class="topmenu">
					{% for item in nav_list %}
						{% if item.content == "Products" %}

							<li>
								<a class="submenu-link" href="{{item.href}}">{{item.content}}</a>
								<ul class="submenu">
									{% for cat in catalog_buff %}
										<li style="text-align:center;">
											<a style="color:black;border:none;" href="/catalog/{{cat.id}}">{{cat.Name}}</a>
										</li>
									{% endfor %}
								</ul>
							</li>


						{% else %}
							{% if (item.content != 'Sign In' and item.content != 'Sign Up') and auth.check %}
								<li>
									<a href="{{item.href}}">{{item.content}}</a>
								</li>
							{% elseif not auth.check %}
								<li>
									<a href="{{item.href}}">{{item.content}}</a>
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if auth.check %}
						<li>
							<a class="submenu-link" href="#">{{ auth.user['Fname'] }}</a>
							<ul class="submenu">
								<li style="text-align:center;">
									<a style="color:black;border:none;" href="/SignOut">Sign out</a>

								</li>
							</ul>
						</li>
					{% endif %}
				</ul>
			</div>
		</main>
		{% block content %}{% endblock %}
	</body>
</html></body></html>
