{% extends "base.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="../../styles/cart-border.css">

{% endblock %}
{% block content %}

	{% if auth.check %}
		{% for item in cart_content %}
			<aside>
				<div class="content-data" id="{{item.id}}">
					<img align="left" hspace="5" src="../../images/{{item.Image}}">
					<p>Название -
						{{item.Name}}</p>
					<p>Количество -
						{{item.Count}}</p>
					<p>Цена за штуку -
						{% if item.Discount > 0 %}
							<strike>{{ item.Price + (item.Price / item.Discount) }}
							</strike>
							<b style="color:green; font-size:24px;">
								{{item.Price}}</b>
							рублей
						{% else %}
							{{item.Price}}
							рублей
						{% endif %}
					</p>
					<p>Описание -
						{{item.Description}}</p>
					<p>
						<a style="color:yellow;" href="/ToOrder/{{item.Product_id}}/{{item.id}}">Заказать</a>
					</p>
					<p>
						<a style="color:red;" href="/EraseFromCart/{{item.id}}">Удалить</a>
					</p>
				</div>
			</aside>
		{% endfor %}
	{% else %}
		<center>
			<span style="color:yellow; font-size:30px;" class="cart-attention">Корзиной могут пользоваться только авторизованные пользователи!</span>
		</center>
	{% endif %}

{% endblock %}
