{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="../../styles/signup.css">

{% endblock %}
{% block content %}
	<div class="form-block">
		<form action="{{ auth.signup }}" method="post" accept-charset="UTF-8">
			<h3>SignUp</h3>
			<div class="form-group">
				<label for="email">
					Email
				</label><br/>
				<input type="email" name="email" id="email" placeholder="you@domain.com" class="form-control">
			</div>
			<div class="form-group">
				<label for="name">
					Name
				</label><br/>
				<input type="text" name="name" id="name" class="form-control">
			</div>
			<div class="form-group">
				<label for="password">
					Password
				</label><br/>
				<input type="password" name="password" id="password" class="form-control">
			</div>
			<button type="submit" class="btn">SignUp</button>
		</form>
	</div>
{% endblock %}
