body {
    margin: auto;
    background-color: #1c1917;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-container {
    background-image: url(../images/store.png);
    background-image: url(../images/bg.png);
    transform: translateZ(0);
    width: 100%;
    height: 99.2px;
    display: flex;
    content: "";
    font-size: 14px;
    font-weight: 500;
}

.main-container {
    width: 900px;
    padding: 10px;
    margin: auto;
}

.main-container-header {
    background-color: #2e241f;
    padding: 0 10;
    display: flex;
    height: 50px;
    color: white;
    align-items: center;
}

.main-container-header span {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 2px;
    font-weight: 600;
}

.main-container-header img {
    margin-left: 10px;
    width: 35px;
    height: 35px;
}

.logo {
    margin-top: 9px;
    margin-left: 250px;
    float: left;
    height: 90px;
}

.main-container .main-container-navigation ul li a {
    text-decoration: none;
    color: #D9B7A6;
    font-size: 14px;
}

.main-container .main-container-navigation ul li {
    list-style: none;
    float: left;
    padding-left: 10px;
    padding-right: 15px;
}

.main-container-navigation {
    background-color: #3d3029;
    display: flex;
    height: 50px;
    color: white;
    align-items: center;
    font-family: Torus, 'Helvetica Neue', Tahoma;
}

.col {
    width: 230px;
    padding: 10px;
    font-size: 1.5em;
    word-wrap: break-word;
}

aside {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

aside .content-data {
    width: 100%;
    display: inline-block;
    border: 1px solid lightgrey;
    opacity: 0.8;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

aside .content-data:hover {
    opacity: 1;
}

aside img {
    width: 180px;
    height: 180px;
}

aside p {
    display: table-row;
    color: bisque;
}

.form-block form {
    display: block;
    text-align: center;
}

form {
    border: 3px solid #3d3029;
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 20px;
}

form label {
    color: white;
}

form input {
    width: 250px;
}

form h3 {
    color: white;
    background-color: #2e241f;
}

.topmenu:after {
    content: "";
    clear: both;
}

.topmenu>li {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.topmenu>li>a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ff7017;
}

.topmenu li a:hover {
    color: #D5B45B;
}

.submenu-link:after {
    content: " ⇓";
    font-family: "FontAwesome";
    color: inherit;
}

.submenu {
    background: #ff9966;
    border-radius: 5px;
    border-bottom: none;
    position: absolute;
    float: left;
    right: 14px;
    top: 32px;
    z-index: 5;
    width: 52px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: black;
    text-align: center;
    /* padding: 12px 15px;*/
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.993);
}

.submenu li {
    width: 100%;
    margin-left: -32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submenu li:hover {
    background-color: wheat;
}

.submenu li:last-child a {
    border-bottom: none;
}

.topmenu>li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}